{% extends "templates/basic.html" %}
{% set active_page = "About" %}

{% block content %}

    <div class="container clearfix mb-20 mt-100">

      {% include "templates/globalmessage.html" ignore missing %}
<div class="c12 row">
<img src="images/web_logo.png" alt="conference logo" />
</div>

<h2><span>Rationale</span></h2>
<div class="c12 row">
<p>Asteroseismology has brought about a revolution in our understanding 
of stars and their interiors, yielding profound new insights into 
stellar evolution, Galactic archeology, and exoplanet-host stars. The 
greatest advances have been enabled by near-continuous photometry from 
space-based missions, such as CoRoT, Kepler, and now the Transiting 
Exoplanet Survey Satellite (TESS). TASC5/KASC12 will be the first 
meeting where participants have the opportunity to present analysis and 
results from asteroseismology and precision stellar astrophysics of 
objects in the southern ecliptic observed by TESS. The workshop will 
emphasize the most recent results from TESS, but will also highlight new 
results from existing data from the Kepler and K2 missions; the joint 
meeting is the 5th workshop of the TESS Asteroseismic Science Consortium 
and the 12th workshop of the Kepler Asteroseismic Science Consortium. 
TESS is an MIT-led NASA mission, and the workshop will be held from 
22-26 July 2019 on the MIT campus in Cambridge, USA. It is unique in 
that it will immediately precede the first TESS Science Conference, also 
held at MIT starting 29 July 2019.</p>
</div>

      
      {% include "templates/timeline.html" ignore missing %}

<h2><span>Invited speakers</span></h2>
<div class="row">
  <div class="c6">
    <ul class="listing">
      <li>Tim Bedding (University of Sydney)</li>
      <li>Earl Bellinger (Aarhus University)</li>
      <li>Clara Brasseur (STScI)</li>
      <li>Stéphane Charpinet (IRAP, Toulouse)</li>
      <li>Cristina Chiappini (AIP, Potsdam)</li>
      <li>Jessie Dotson (NASA Kepler/K2)</li>
      <li>Adina Feinstein (University of Chicago)</li>
      <li>Dan Foreman-Mackey (Flatiron Institute)</li>
      <li>Oliver Hall (University of Birmingham)</li>
      <li>Dan Huber (University of Hawaii)</li>
    </ul>
  </div>
  <div class="c6">
    <ul class="listing">
      <li>Katrien Kolenberg (KU Leuven)</li>
      <li>Don Kurtz (University of Central Lancashire)</li>
      <li>András Pál (Konkoly Observatory)</li>
      <li>May Gade Pedersen (KU Leuven)</li>
      <li>Elisa Quintana (NASA Goddard)</li>
      <li>George Ricker (MIT)</li>
      <li>Rachael Roettenbacher (Yale University)</li>
      <li>Jamie Tayar (University of Hawaii)</li>
      <li>Andrew Tkachenko (KU Leuven)</li>
      <li>Vincent Van Eylen (Princeton University)</li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>

<h2><span>SOC</span></h2>
<div class="row c12">
  <p>To contact the SOC or LOC write
    to: <a href="mailto:tasc5@mit.edu">tasc5@mit.edu</a></p>
</div>
<div class="row">
  <div class="c6">
    <ul class="listing">
      <li>Fabienne Bastien (USA)</li>
      <li>Margarida Cunha (Portugal)</li>
      <li>Gerald Handler (Poland)</li>
      <li>Christina Hedges (USA)</li>
      <li>JJ Hermes (chair, USA)</li>
      <li>David Latham (USA)</li>
    </ul>
  </div>
  <div class="c6">
    <ul class="listing">
      <li>Mia Lundkvist (Denmark)</li>
      <li>László Molnár (Hungary)</li>
      <li>Simon Murphy (Australia)</li>
      <li>Rhita-Maria Ouazzani (France)</li>
      <li>Jennifer van Saders (USA)</li>
      <li>Nevin N. Weinberg (USA)</li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<h2><span>LOC</span></h2>
<div class="row c12">
  <p>To contact the SOC or LOC write
    to: <a href="mailto:tasc5@mit.edu">tasc5@mit.edu</a></p>
</div>
       <div class="c12 row">
	 <ul class="listing">
	   <li>JJ Hermes, Boston University</li>
	   <li>H. M. Günther, MIT</li>
	   <li>Rasmus Handberg, Aarhus</li>
	   <li>Nevin N. Weinberg, MIT (chair)</li>
	 </ul>
       </div>
       <h2><span>Organizing Institutions</span></h2>
       <div class="row clearfix sponsor-logo">
	 <div class="c3 img">
	   <a href="https://www.mit.edu">
             <img src="images/MIT-logo.png" alt="MIT logo">
	   </a>
         </div>
	 <div class="c3 img">
	   <a href="https://www.bu.edu/">
             <img src="images/Boston_University.png" alt="Boston University logo">
	   </a>
         </div>
	 <div class="c3 img">
	   <a href="https://www.uml.edu/">
             <img src="images/sac-logo.gif" alt="Stellar Astrophysics Centre, Aarhus, DK">
	   </a>
         </div>
       </div>


       <h2><span>Code of Conduct</span></h2>
       <div class="c12 row">

       <p>TASC5/KASC12 organizers are committed to making this meeting productive and enjoyable for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, ethnicity, nationality, or religion. We will not tolerate harassment of participants in any form. Please follow these guidelines:</p>

	  <ul class="listing">
	    <li>Behave professionally. Harassment and sexist, racist, or exclusionary comments or jokes are not appropriate. Harassment includes sustained disruption of talks or other events, inappropriate or unwelcome physical contact, sexual attention or innuendo, deliberate intimidation, stalking, and photography or recording of an individual without consent. It also includes offensive comments related to gender, sexual orientation, age, disability, physical appearance, body size, ethnicity, or religion.</li>
	    <li>All communication should be appropriate for a professional audience of people from many different backgrounds. Sexual language and imagery is not appropriate.</li>
	    <li>Be kind to others. Do not insult or put down other attendees.</li>
	   </ul>

	  <p>Participants asked to stop any inappropriate behaviour are expected to comply immediately. Attendees violating these rules may be asked to leave the event at the sole discretion of the organizers without a refund of any charge.  The full <a href="docs/Code_of_conduct.pdf">TASC5/KASC12 Code of Conduct</a> is available as pdf.</p>

       <p>Any participant who wishes to report a violation of this policy can do so anonymously via <a href="https://goo.gl/forms/SmyKQyCLAHPuuMMp2">google web form</a> or can contact LOC representatives (see <a href="docs/Code_of_conduct.pdf">TASC5/KASC12 Code of Conduct</a> for contact information).</p>

       <p>This code of conduct was originally designed for an astronomy conference in London, adapted by Andrew Pontzen and Hiranya Peiris from a document by Software Carpentry, which itself derives from original Creative Commons documents by PyCon and Geek Feminism.</p>

       
       </div>
       <h2><span>Acknowledgements</span></h2>
       <div class="c12 row">
	 <ul class="listing">
	   <li>Website template design by Veselka for <a href="http://www.andreasviklund.com">andreasviklund.com</a> </li>
	   <li>Website development on <a href="https://github.com/hamogu/tasc5kasc12">github</a>
	 </ul>
       </div>

        <h2><span>Previous Meetings</span></h2>
        <div class="c12 row">
	 <ul class="listing">
	   <li>TASC4/KASC11 - <a href="http://conferences.au.dk/tasc4/">Aarhus, 
Denmark, July 2018</a></li>
	   <li>TASC3/KASC10 - <a 
href="http://www.tasc3kasc10.com/#">Birmingham, UK, July 2017</a></li>
	   <li>TASC2/KASC9 - <a 
href="http://www.iastro.pt/research/conferences/spacetk16/">Angra do 
Hero&iacute;smo, A&ccedil;ores, Portugal, July 2016</a></li>
	   <li>KASC8/TASC1 - <a 
href="http://phys.au.dk/sac/currently/past-scientific-events/the-kasc8tasc1-workshop-2015/">Aarhus, 
Denmark, June 2015</a></li>
	   <li>KASC7/CoRoT3 - <a 
href="https://corot3-kasc7.sciencesconf.org/">Toulouse, France, July 
2014</a></li>
	   <li>KASC6 - Sydney, Australia, June 2013</li>
	   <li>KASC5 - Balatonalm&aacute;di, Hungary, June 2012</li>
	   <li>KASC4 - Boulder, USA, July 2011</li>
	   <li>KASC3 - Aarhus, Denmark, June 2010</li>
	   <li>KASC2 - Aarhus, Denmark, June 2008</li>
	   <li>KASC1 - Paris, France, October 2007</li>
	 </ul>
</div>


{% endblock content %}
