{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}
 {% include "templates/timeline.html" ignore missing %}
       <h2><span>Preliminary schedule</span></h2>
       <div class="c12 row">
	<table class="schedule" border="2">
	  <tr class="title">
	    <td>Time</td>
	    <td>Sunday</td>
	    <td>Monday</td>
	    <td>Tuesday</td>
	    <td>Wednesday</td>
	    <td>Thursday</td>
	    <td>Friday</td>
	  </tr>
	  <tr class="title">
	    <td></td>
	    <td>21 July 2019</td>
	    <td>22 July 2019</td>
	    <td>23 July 2019</td>
	    <td>24 July 2019</td>
	    <td>25 July 2019</td>
	    <td>26 July 2019</td>
	  </tr>
	
	  <tr>
	    <td class="time">Morning</td>
	    <td></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	  </tr>
	  <tr>
	    <td class="time">Afternoon</td>
	    <td></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="socialac"><a href="tourism.html">free time for 
tourism</a></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary"></td>
	  </tr>
	
	  <tr>
	    <td class="time">Evening</td>
	    <td class="socialac">Welcome reception</td>
	    <td class="socialac">Astronomer mixer</td>
	    <td></td>
	    <td></td>
	    <td class="socialac">Conference dinner</td>
	    <td></td>
	  </tr>

	</table>

	 <p><strong>29 July to 2 Aug: <a 
href="https://tsc.mit.edu/index.html">TESS Science conference</a>: This 
conference also takes place at MIT in Cambridge, MA, USA and might be of 
interest for TASC5/KASC12 attendees.</strong></p>

       </div>

       <h2><span>Invited speakers</span></h2>
      <div class="row">
	<div class="c6">
	  <ul class="listing">
	    <li>Tim Bedding (University of Sydney)</li>
	    <li>Earl Bellinger (Aarhus University)</li>
	    <li>Clara Brasseur (STScI)</li>
	    <li>Stéphane Charpinet (IRAP, Toulouse)</li>
	    <li>Cristina Chiappini (AIP, Potsdam)</li>
	    <li>Jessie Dotson (NASA Kepler/K2)</li>
	    <li>Adina Feinstein (University of Chicago)</li>
	    <li>Dan Foreman-Mackey (Flatiron Institute)</li>
	    <li>Oliver Hall (University of Birmingham)</li>
	    <li>Dan Huber (University of Hawaii)</li>
	  </ul>
	</div>
	<div class="c6">
	  <ul class="listing">
	    <li>Katrien Kolenberg (KU Leuven)</li>
	    <li>Don Kurtz (University of Central Lancashire)</li>
	    <li>András Pál (Konkoly Observatory)</li>
	    <li>May Gade Pedersen (KU Leuven)</li>
	    <li>Elisa Quintana (NASA Goddard)</li>
	    <li>George Ricker (MIT)</li>
	    <li>Rachael Roettenbacher (Yale University)</li>
	    <li>Jamie Tayar (University of Hawaii)</li>
	    <li>Andrew Tkachenko (KU Leuven)</li>
	    <li>Vincent Van Eylen (Princeton University)</li>
	  </ul>
	</div>

</div>

{% endblock content %}
