{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}
  {% include "templates/timeline.html" ignore missing %}


      <h2><span>Preliminary schedule</span></h2>
      <div class="c12 row">
	<table class="schedule" border="2">
	  <tr class="title">
	    <td>Time</td>
	    <td>Sunday</td>
	    <td>Monday</td>
	    <td>Tuesday</td>
	    <td>Wednesday</td>
	    <td>Thursday</td>
	    <td>Friday</td>
	    <td>Saturday</td>
	  </tr>
	  <tr class="title">
	    <td></td>
	    <td>7/21</td>
	    <td>7/22</td>
	    <td>7/23</td>
	    <td>7/24</td>
	    <td>7/25</td>
	    <td>7/26</td>
	    <td>7/27</td>
	  </tr>
	  
	  <tr>
	    <td class="time">morning</td>
	    <td></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td class="time">afternoon</td>
	    <td></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="socialac"><a href="tourism.html">time for tourism</a></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary"></td>
	    <td></td>
	  </tr>
	  
	  <tr>
	    <td class="time">evening</td>
	    <td class="socialac">Opening reception</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td class="socialac">Social dinner</td>
	    <td></td>
	  </tr>

	</table>

	 <p><strong>July 29 to Aug 2: <a href="https://tsc.mit.edu/index.html">TESS Science conference</a>: This conference also takes place at MIT in Cambridge, MA, USA and might be of interest for TASC5/KASC12 attendees.</strong></p>

      </div>
</div>

{% endblock content %}
