{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
processEscapes: true}
});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}
 {% include "templates/timeline.html" ignore missing %}
       <h2><span>Schedule</span></h2>
       <div class="c12 row">
	<table class="schedule" border="2">
	  <tr class="title">
	    <td>Time</td>
	    <td>Sunday</td>
	    <td>Monday</td>
	    <td>Tuesday</td>
	    <td>Wednesday</td>
	    <td>Thursday</td>
	    <td>Friday</td>
	  </tr>
	  <tr class="title">
	    <td></td>
	    <td>21 July 2019</td>
	    <td>22 July 2019</td>
	    <td>23 July 2019</td>
	    <td>24 July 2019</td>
	    <td>25 July 2019</td>
	    <td>26 July 2019</td>
	  </tr>
	
	  <tr>
	    <td class="time">Morning</td>
	    <td></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	  </tr>
	  <tr>
	    <td class="time">Afternoon</td>
	    <td></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary">talks, posters</td>
	    <td class="socialac"><a href="tourism.html">free time for 
tourism and TESS tours</a></td>
	    <td class="plenary">talks, posters</td>
	    <td class="plenary"></td>
	  </tr>
	
	  <tr>
	    <td class="time">Evening</td>
	    <td class="socialac">Welcome reception</td>
	    <td class="socialac">Astronomer mixer</td>
	    <td></td>
	    <td></td>
	    <td class="socialac">Conference dinner</td>
	    <td></td>
	  </tr>

	</table>

	 <p><strong>29 July to 2 Aug: <a 
href="https://tsc.mit.edu/index.html">TESS Science conference</a>: This 
conference also takes place at MIT in Cambridge, MA, USA and might be of 
interest for TASC5/KASC12 attendees.</strong></p>

       </div>

       <h2><span>Schedule by day</span></h2>
       <div class="c12 row">
	 <p>A pdf of the schedule can be
        downloaded <a href='images/TASC5KASC12-Program.pdf'>here</a>.</p>
        {% for p in data %}
	<h3>{{ p[0] }}</h3>
	<table class="schedule" border="2">
	  <tr class="title">
	    <td>Time</td><td>Topic</td><td>Speaker</td><td>Title</td>
	  </tr>
	  {% for row in p[1] %}
	  <tr>
	    <td {% if row['type'] == 'schedule' %}class="socialac"{% endif %}>{{ row['time'] }}</td>
	    <td {% if row['type'] == 'schedule' %}class="socialac"{% endif %}>{{ row['topic'] }}</td>
	    <td {% if row['type'] == 'schedule' %}class="socialac"{% endif
	    %}>{{ row['First author'] }}</td>
	    <td {% if row['type'] == 'schedule' %}class="socialac">{{row['Title of presentation']|safe }}{% else %}>
	      <a href="abstracts.html#{{ row['Title of presentation'] }}">{{ row['Title of presentation'] }}</a>
	      {% endif %}
	    </td>
	  </tr>
{% endfor %}
	</table>
	<br>
	{% endfor %}
       </div>

{% endblock content %}
