{% extends "templates/basic.html" %}
{% set active_page = "Tourism" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

   <h2 id="links"><span>Links to Boston tourism websites</span></h2>
    <div class="c12">
      <ul class="listing"> 
	<li><a href="http://bit.ly/2B0o2lZ">Official Visitors Guide to
	Boston</a></li>
<li><a href="http://bit.ly/2CKK0dn">Destination Planners’ Directory</a></li>
<li><a href="http://www.bostonusa.com/partner/press/whatsnew/">Read the latest edition of  What’s New in Boston</a></li>
      </ul>
    </div>

      <div class="clearfix"></div>
      <h2 id='onyourown'><span>Activites and Sightseeing on your own</span></h2>
      <div class="c12 row">
       <p>If you prefer to explore Boston and the surrounding area on your own, we have some suggestions for you.  Each category is ordered by ease of access from the conference venue.  We’ve also included our recommended mode of transportation to each site.</p>

       <h3>Dive Deeper into History</h3>
       <ul class="listing">
	 <li><a href="https://www.nps.gov/boaf/index.htm">Boston African American National Historic Site & Black Heritage Trail</a> - Boston, MA:
Located in the Beacon Hill neighborhood of Boston, this site and trail commemorates buildings and sites used for the Underground Railroad and the fight for African American rights during the 1800s.  Accessible by T (subway).</li>
	 <li><a href="https://www.nps.gov/bost/learn/historyculture/cny.htm">Charlestown Navy Yard & USS Constitution</a> - Charlestown, MA: 
Take a tour of “Old Ironsides”, the oldest commissioned ship in the U.S. Navy.  Accessible by T or ride-hailing app.</li>
<li><a href="https://www.jfklibrary.org/">John F. Kennedy Presidential Library & Museum</a> - Columbia Point, Boston, MA: This museum honors the life and presidential legacy of John F. Kennedy.  It located on the Columbia Point waterfront and housed inside a I.M. Pei-designed building.  Accessible by T and a museum-run shuttle.</li>
<li><a href="https://www.nps.gov/adam/index.htm">Adams National Historical Park</a> - Quincy, MA: This national park offers tours of John Adams birthplace and his family home, Peacefield.  Accessible by T.</li>
<li><a href="http://www.uss-salem.org/index.htm">United State Naval Shipbuilding Museum & USS Salem</a> - Quincy, MA: Explore the only preserved U.S. Naval Heavy Cruiser and accompanying shipbuilding museum.  Accessible by car.</li>
	 </ul>

       <h3>Like a Local</h3>
       <ul class="listing">
	 <li><a href="https://www.newburystboston.com/">Newbury Street Shopping</a>:
Boston’s most famous shopping avenue with shops for everyone.  Easily accessible by T.</li>
	 <li><a href="https://www.boston.gov/parks/public-garden">Boston Public Garden</a>:
The first public botanical garden in the U.S., which is still maintained in a Victorian style and offers the iconic swan boat rides around the lagoon. Easily accessible by T.</li>
	 <li><a href="http://escapetheroomboston.com/">Escape the Room Boston</a>
Small groups solve a series of small puzzles in 60min to gain freedom and “escape the room” (book ahead).  Easily accessible by T.</li>
<li><a href="http://walkboston.org/resources/maps">WalkBoston</a>:
Self-Guided Tours of Boston’s Unique Neighborhoods.  Various locations.</li>
<li><a href="http://www.longfellowscambridge.com/">Longfellow’s Café</a>/<a href="http://www.lamplighterbrewing.com/welcome">Lamplighter Brewing Co.</a> - Cambridge, MA:
Café/Brewery located in the heart of Cambridge.  Accessible by ride-hailing app or T.</li>
<li><a href="https://brooklynboulders.com/somerville/">Brooklyn Boulders</a> - Somerville, MA: Climbing gym located just next door to Aeronaut Brewing Co. Accessible by ride-hailing app.</li>
<li><a href="https://signatureboston.com/lawn-on-d">The Lawn on D</a> (check for event closures):An interactive outdoor space with art exhibitions, lawn games, and free wifi located in South Boston.	Accessible by ride-hailing app.</li>
</ul>

       <h3>Museums</h3>
       <ul class="listing">     
<li><a href="http://www.mfa.org/">Museum of Fine Arts</a>: Boston's biggest art museum. About 25 min walk from conference venue (or take bus 47 or CT2).</li>
<li><a href="https://www.gardnermuseum.org">Isabella Stewart Gardner Museum</a> - Immersive art museum with plants, textiles, architecture, and furniture. About 25 min walk from conference venue (or take bus 47 or CT2).</li>
<li><a href="https://www.mos.org/">Museum of Science</a> - Accessible by T to green line stop "Science Park".</li>
<li><a href="https://hmnh.harvard.edu/">Harvard Museum of Natural History</a> - Most famous exhibit is a selection of photorealistic glass flower that were use as teaching tool before powerpoint was invented. Take red line to "Harvard Square".</li>
<li><a href="https://www.icaboston.org/">ICA</a> - Institute of Contemporary Art, a modern art museum. Located directly on the harbor, this is a good spot for a hot day - Take red line to South Station.</li>
</ul>


       <h3>Farther Afield</h3>
       <ul class="listing"> 
	 <li><a href="http://www.bostonharborislands.org/">Boston Harbor Islands National & State Park</a>: Ferries run daily to Georges Island and Spectacle Island (check ahead for tickets).  Also, see our clambake excursion above.  Long Wharf accessible by T.</li>
<li><a href="https://www.arboretum.harvard.edu/">Arnold Arboretum: 281 acres of maintained public park and National Historic Park, which also acts as a Harvard-affiliated research institution. Located at one end of the orange line.</a>
<li><a href="http://minutemanbikeway.org/">Minuteman Bike Rail Trail </a> (and other nearby bikeways): Rail Trail bikeway from Alewife T Station (Cambridge) to Bedford, MA.  Other nearby bikeways are detailed on their website.  Accessible by T.</li>
	 <li>“Fermentation District” - Everett, MA - Orange line to "Wellington" or use a ride-hailing app:
	   <ul class="listing"> 
<li><a href="https://www.nightshiftbrewing.com/">Night Shift Brewing</a> - Brewery with large taproom with plenty of boardgames, (Tours only on weekends.)</li>
<li><a href="https://www.boneup.beer/">Bone Up Brewing</a> - Brewery with cozy taproom</li>
<li><a href="https://www.metrorock.com/">MetroRock Climbing Gym</a> - Large climbing gym with top-roping and bouldering</li>
<li><a href="https://www.skyzone.com/everett">SkyZone Indoor Trampoline Park</a> - Indoor trampoline park! What could possibly go wrong?</li>
</ul>
<li><a href="https://www.mass.gov/files/documents/2016/12/ra/fells-hikes-rides.pdf">The Middlesex Fells Reservation</a>: Hiking and Biking only ~7 miles from Boston.  Accessible by ride-hailing app or car.</li>
<li><a href="https://www.mass.gov/locations/walden-pond-state-reservation">Walden Pond State Reservation</a>: Historic pond with walking trails and swimming.  Accessible by car.</li>
<li><a href="https://boston.curbed.com/maps/boston-beaches-best-nearby-massachusetts">Beaches</a>: Many beaches are accessible by car north or south of Boston.  This link lists just a few of them. Various locations.</li>
</ul>
      </div>



    </div>
    

{% endblock content %}
