<h2><span>Important Dates and Deadlines</span></h2>
<div class="c12 row">
   <ul class="listing">
     <li><a 
href="contributions.html#abstractsubmission">Abstract 
submission</a> opens: 5 Feb 2019</li>
     <li>Registration opens: March (exact dates to be announced)</li>
     <li>Contributed talk abstract deadline: 19 Apr 2019</li>
     <li>Early registration deadline: 31 May 2019</li>
     <li>Poster abstract deadline: 31 May 2019</li><br>
     <li>Welcome reception and registration: 21 July 2019</li>
     <li>TASC5/KASC12 Workshop dates: 22-26 July 2019</li>
     <li><a href="https://tsc.mit.edu/index.html">TESS Science 
Conference</a>, also at MIT the following week starting 29 July 2019</li>
   </ul>
</div>
